<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="container">
    <h1>To Do List입니다.</h1>
    <div style="margin-bottom: 20px;">
        <a th:href="@{/}">
            <button style="background-color: #444; color: white; padding: 8px 16px; border-radius: 4px; border: none;">메인 메뉴로</button>
        </a>
    </div>
    <form th:action="@{/todos}" method="post">
        <input type="text" name="task" placeholder="Enter a new task" required  />
        <button type="submit">투두 추가</button>
    </form>
    <div class="todo-list">
        <ul>
            <li th:each="task: ${todos}">
                <span th:text="${task.description}"></span>
                <form th:action="@{/todos/delete}" method="post" style="display:inline;">
                    <input type="hidden" name="taskId" th:value="${task.id}"/>
                    <button type="submit">Delete</button>
                </form>
            </li>

        </ul>
    </div>
</div>
</body>
</html>